.main-header__menu-toggle {
  background-image: url("../../images/icons/stack.svg#navigation-menu-open");
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 18px;
  padding: 0;
  cursor: pointer;
}
