@use "../../global/variables";
@use "../../global/common";

.cat-characteristics {
  @include common.reset-fieldset;
  gap: 14px;

  @media (min-width: variables.$desktop) {
    gap: 20px;
  }
}

.cat-characteristics__item {
  gap: 13px;
}

.cat-characteristics__input {
  flex-grow: 1;
}
