@use "../../global/fonts";
@use "../../global/variables";
@use "../../global/common";

.form {
  @include fonts.set-font(oswald, variables.$general-font-color, 16px, 112.5%, uppercase);

  @media (min-width: variables.$tablet) {
    font-size: 20px;
    line-height: 100%;
  }
}

.form__cat-characteristics-and-diet-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 39px;
  //margin-bottom: 26px;

  @media (min-width: variables.$tablet) {
    gap: 72px;
    margin-bottom: 52px;
  }

  @media (min-width: variables.$desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 82px;
    margin-bottom: 56px;
  }
}

.form__inner-title {
  @include fonts.set-font(oswald, variables.$general-title-color, 24px, 108.33%, initial);


  @media (min-width: variables.$tablet) {
    font-size: 36px;
    line-height: 100%;
  }
}

.form__contacts {
  margin-top: 33px;
  //margin-bottom: 10px;
}

.form__comments {
  margin-top: 14px;
  //margin-bottom: 14px;

  @media (min-width: variables.$tablet) {
    margin-top: 52px;
  }

  @media (min-width: variables.$desktop) {
    margin-top: 57px;
  }
}

.form__extra {
  margin-top: 14px;

  @media (min-width: variables.$tablet) {
    margin-top: 51px;
  }

  @media (min-width: variables.$desktop) {
    margin-top: 58px;
    margin-bottom: 60px;
  }
}

.form__button-wrapper {
  margin-top: 32px;

  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: 284px auto;
    gap: 57px;
    margin-top: 52px;
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 81px;
  }
}

.form__button {
  width: 100%;
}

.form__required-fields-note {
  @include fonts.set-font(lato, variables.$general-title-color, 14px, 114.29%, initial);
  @include common.reset-p;
  text-align: center;
  margin-top: 20px;

  @media (min-width: variables.$tablet) {
    padding-bottom: 2px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
  }

  @media (min-width: variables.$desktop) {
    margin-left: -3px;
  }
}
