@use "../global/fonts";
@use "../global/variables";

.button {
  @include fonts.set-font(oswald, variables.$general-light-font-color, 16px, 125%, uppercase);
  text-decoration: none;
  text-align: center;
  display: block;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: variables.$tablet) {
    font-size: 20px;
    line-height: 130%;
  }

  &--primary {
    background-color: variables.$button-primary-color;
  }

  &--secondary {
    background-color: variables.$button-secondary-color;
    color: variables.$general-font-color;
  }
}
