@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link() {
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}

@mixin reset-fieldset() {
  border: none;
  //padding: 0;
  display: flex;
  flex-direction: column;
}
