$oswald-font-string: "Oswald", "Arial", "Helvetica", sans-serif;
$lato-font-string: "Lato", "Arial", "Helvetica", sans-serif;

$general-green-background-color: #68b738;
$form-input-icon-color: #000000;
$primary-background-color: #ffffff;
$general-title-color: #000000;
$triple-dark-grey-font-color: #111111;
$double-dark-grey-font-color: #222222;
$dark-grey-font-color: #444444;
$general-font-color: #444444;
$general-light-font-color: #ffffff;
$button-primary-color: $general-green-background-color;

$button-secondary-color: #f2f2f2;
$grey-background-color: #f2f2f2;

$hero-background-color: rgba(104, 183, 56, 0.85);
