$oswald-font-string: "Oswald", "Arial", "Helvetica", sans-serif;
$lato-font-string: "Lato", "Arial", "Helvetica", sans-serif;

$primary-background-color: #ffffff;
$general-dark-font-color: #444444;
$general-light-font-color: #ffffff;
$button-primary-color: #68B738;
$button-secondary-color: #F2F2F2;


$hero-background-color: #68B738D9;
