@use "../../global/fonts";
@use "../../global/variables";
@use "../../global/common";

.diet {
  background-color: variables.$grey-background-color;
  //background-color: #121212;
  padding: 10px 20px 18px 20px;

  @media (min-width: variables.$tablet) {
    padding: 50px 29px 58px 52px;
    min-height: 372px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: variables.$tablet) {
    padding: 50px 50px 59px 52px;
  }
}

.diet__title {
  @include fonts.set-font(oswald, variables.$general-title-color, 24px, 154.17%, uppercase);
  @include common.reset-title;
  position: relative;
  gap: 20px;
  margin-left: 70px;
  margin-top: 20px;

  @media (min-width: variables.$tablet) {
    font-size: 36px;
    line-height: 100%;
    margin-top: 27px;
    margin-left: 0;
  }

  @media (min-width: variables.$desktop) {
    gap: 62px;
    margin-left: 161px;
  }

  &--slim::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#diet-cat-slim");
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    position: absolute;
    left: -70px;
    top: -10px;

    @media (min-width: variables.$tablet) {
      position: absolute;
      width: 200px;
      height: 210px;
      left: 64.5%;
      top: 3px;
    }

    @media (min-width: variables.$desktop) {
      width: 100px;
      height: 106px;
      left: -161px;
      top: -38px;
    }
  }

  &--weight::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#diet-cat-weight");
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    position: absolute;
    left: -77px;
    top: -6px;

    @media (min-width: variables.$tablet) {
      position: absolute;
      width: 268px;
      height: 200px;
      left: 59%;
      top: 14px;
    }

    @media (min-width: variables.$desktop) {
      width: 134px;
      height: 100px;
      left: -180px;
      top: -31px;
    }
  }
}

.diet__description {
  @include common.reset-p;
  margin-top: 29px;

  @media (min-width: variables.$tablet) {
    font-size: 16px;
    line-height: 150%;
    color: variables.$general-title-color;
    width: 56%;
    margin-top: 24px;
    flex-grow: 1;
  }

  @media (min-width: variables.$desktop) {
    width: initial;
    margin-top: 73px;
  }
}

.diet__link-wrapper {
  border-top: 1px solid variables.$diet-item-splitter-color;
  margin-top: 23px;
  padding-top: 15px;

  @media (min-width: variables.$tablet) {
    border-top: none;
    padding-top: 0;
    //margin-top: auto;
  }
}

.diet__link {
  @include fonts.set-font(oswald, variables.$general-title-color, 16px, 100%, uppercase);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 4px;
  padding-bottom: 4px;

  @media (min-width: variables.$tablet) {
    font-size: 20px;
    gap: 26px;
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-image: url("../../images/icons/stack.svg#link-arrow-short");
    width: 24px;
    height: 12px;
  }

  &:hover {
    &::after {
      background-image: url("../../images/icons/stack.svg#link-arrow-long");
      width: 32px;
      height: 12px;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}
