@use "../../global/fonts";
@use "../../global/variables";
@use "../../global/common";

.copyright {
  @include common.reset-link;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: variables.$tablet) {
    border: none;
    padding: 0;
    gap: 23px;
  }

  &::after {
    content: "";
    mask-image: url("../../images/icons/stack.svg#academy-footer-logo");
    background-color: variables.$footer-html-link-color;
    background-repeat: no-repeat;
    width: 27px;
    height: 34px;
  }
}

.copyright:hover {
  &::after {
    background-color: variables.$footer-social-link-hover-color;
  }
}

.copyright:active {
  opacity: 0.3;
}

.copyright__title {
  @include fonts.set-font(lato, variables.$general-font-color, 16px, 125%);
}
