@use "../../global/variables";

.location {
  @media (min-width: variables.$desktop) {
    position: relative;
  }
}

.location__map {
  height: 362px;
  width: 100%;
  object-fit: cover;
  display: block;

  @media (min-width: variables.$tablet) {
    height: 400px;
  }
}
