@use "../../global/fonts";
@use "../../global/variables";
@use "../../global/common";

.socials {
  display: flex;
  column-gap: 24px;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid variables.$footer-underline-color;

  @media (min-width: variables.$tablet) {
    border: none;
    padding: 0;
    padding-top: 4px;
  }
}

.socials__link {
  &:hover path {
    fill: variables.$footer-social-link-hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}
