@use "../../global/fonts";
@use "../../global/variables";
@use "../../global/common";

.catalog-more-card {
  @media (min-width: variables.$tablet) {
    border: 2px solid #f2f2f2;
    background-color: variables.$primary-background-color;
  }
}

.catalog-more-card__data-wrapper {
  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#catalog-plus-sign");
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
  }

  @media (max-width: variables.$tablet - 1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: variables.$tablet) {
    margin-left: 40px;
    margin-right: 40px;

    &::before {
      width: 60px;
      height: 210px;
    }
  }
}

.catalog-more-card__text-wrapper {
  @media (max-width: variables.$tablet - 1) {
    margin-left: 31px;
    margin-right: 31px;
    width: initial;
  }
}

.catalog-more-card__description {
  @include fonts.set-font(lato, variables.$dark-grey-font-color, 12px, 133.33%);

  @media (min-width: variables.$tablet) {
    font-size: 16px;
    line-height: 112.5%;
    text-align: center;
  }
}
